# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.WfBackend.iml
# Datasource local storage ignored files
/../../../../../../../:\Work\warframe\WfBackend\.idea\.idea.WfBackend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Development files
appsettings.Development.json
